.articles {
    padding: 140px 0;
    background-color: rgb(244, 248, 255);
}

.article {
    box-shadow: 0px 35px 25px 0px rgba(4, 11, 20, 0.04);
    background: rgb(255, 255, 255);
}
.articleImg {
    width: 100%;
}

.articleContent {
    padding: 27px 32px;
}

.articleTitle {
    color: rgb(27, 55, 100);
    font-family: Cardo;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
}

.articleDesc {
    color: rgb(150, 154, 160);
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -1%;
}

.articleDetails {
    justify-content: space-between;
    margin-top: 15px;
}

.readMore {
    padding: 0;
    color: rgb(27, 55, 100);
    font-family: Cardo;
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 2%;
    text-decoration: underline;
    cursor: pointer;
}

.detailInfo {
    color: rgb(27, 55, 100);
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0%;
    margin-bottom: 0;
}