.callout {
    margin: 140px 0;
}

.content {
    background: rgb(255, 202, 66);
    padding: 120px 0;
    text-align: center;
}

.desc {
    color: rgb(27, 55, 100);
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -1%;
    width: 50%;
    margin: 10px auto;
}

.formContainer {
    width: 70%;
    margin: 20px auto;
    display: flex;
    gap: 20px;

}

.email {
    width: 60%;
    padding: 15px 24px;
    /* height: 100%; */
    outline: none;
    border: 0;
}

.submitBtn {
    background: rgb(27, 55, 100);
    color: rgb(255, 255, 255);
    font-family: Cardo;
    font-size: 19px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 2%;
    text-align: center;
    width: 30%;
    
}

.email::placeholder {
    color: rgb(150, 154, 160);
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -1%;
    text-align: left;
}

@media screen  and (max-width: 768px){
    .formContainer {
        flex-direction: column;
    }

    .email {
        width: 100%;
    }

    .submitBtn {
        width: 50%;
    }
}